[Unit]
Description=ZRAM configuration
ConditionPathExists=-/etc/zram.cfg

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=zramcfg load
ExecStop=zramcfg save

[Install]
WantedBy=multi-user.target
