[Unit]
Description=ZRAM configuration

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/zramcfg load
ExecStop=/usr/sbin/zramcfg save

[Install]
WantedBy=multi-user.target
